# Core
django==3.0
sc4py==0.1.1
django_brfied==0.6.2
django-daterange-filter==1.3.0
# psycopg2 Installed by apk

# EGE
ege-theme==0.5.4
ege-utils==1.4.1


# REST
djangorestframework==3.11.0
django-rest-swagger==2.2.0

# Auth
django-python3-ldap==0.11.3

# Devel
django-model-documentation==0.8.0
django-extensions==2.2.5
django-debug-toolbar==2.1
ipdb==0.12.3

# Production
raven==6.10.0
gunicorn==20.0.4
supervisor==4.1.0
