# Core
django==2.1.4
python-brfied==0.8.6
# psycopg2 Installed by apk

# EGE
ege-theme==0.5.2
ege-utils==1.2.1

# REST
djangorestframework==3.9.0
django-rest-swagger==2.2.0

# Auth
django-python3-ldap==0.11.2

# Devel
django-model-documentation==0.8.0
django-extensions==2.1.4
django-debug-toolbar==1.11
ipdb==0.11

# Production
raven==6.9.0
gunicorn==19.9.0
